body {
    /* font-family: Arial, sans-serif; */
    margin: 40px;
    color: #000;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.info {
    text-align: center;
}

h2 {
    margin-top: 25px;
    
}



